{%load static%}
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nosotros</h2>
            <h3 class="section-subheading text-muted">Principales normas que aplicamos</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/cons (5).jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>nom-016-ssa3-2012:</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Establece los requisitos mínimos de infraestructura y equipamiento de hospitales y consultorios de atención médica especializada.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/cons (3).jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>nom-005-ssa3-2018:</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Establece los requisitos mínimos de infraestructura y equipamiento de establecimientos para la atención médica de pacientes ambulatorios.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/cons (4).jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>nom-002-stps-2010:</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Condiciones de seguridad-prevención y protección contra incendios en los centros de trabajo.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/cons (6).jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>nom-003-segob-2011:</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Señales y avisos para protección civil.- Colores, formas y símbolos a utilizar.​</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/cons (5).jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>nom-005-stps-2017:</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Relativa a las condiciones de seguridad e higiene en los centros de trabajo para el manejo, transporte y almacenamiento de sustancias químicas peligrosas.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/consultorio2.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>nom-030-ssa3-2013:</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Que establece las características arquitectónicas para facilitar el acceso, tránsito, uso y permanencia de las personas con discapacidad en establecimientos para la atención médica ambulatoria y hospitalaria del Sistema Nacional de Salud.​</p></div>
                </div>
            </li>
        </ul>
    </div>
</section>