{%load static%}
<div class="main active">
    <div class="text">
        <h2>Personal</h2>
    </div>
    <div class="input-text">
        <div class="input-div">
            <input type="text" required  id="user_name">
            <span>Nombre</span>
        </div>
        <div class="input-div"> 
            <input type="text" required >
            <span>CURP</span>
        </div>
        <div class="input-div"> 
            <input type="text" required >
            <span>RFC</span>
        </div>
        <div class="input-div"> 
            <input type="text" required >
            <span>Nacionalidad</span>
        </div>
    </div>
    <div class="input-text">
        <div class="input-div">
            <input type="text" required >
            <span>Phone number</span>
        </div>
        <div class="input-div">
            <input type="text" required >
            <span>E-mail Address</span>
        </div>
        <div class="input-div">
              <input type="date" class="form-control">
              <span>F. de Nacimiento</span>
        </div>
    </div>
    
    <div class="input-text">
        <div class="input-div">
            <input type="text" required >
            <span>Estado Civil</span>
        </div>
        <div class="input-div">
            <input type="text" required >
            <span>Domicilio</span>
        </div>
    </div>
    <div class="text">
        <h2>Información Bancaria</h2>
    </div>
    <div class="input-text">
        <div class="input-div"> 
            <input type="text" required >
            <span>Banco</span>
        </div>
        <div class="input-div">
            <input type="text" required >
            <span>Cuenta</span>
        </div>
        <div class="input-div">
            <input type="text" required >
            <span>Clabe</span>
        </div>
    </div>

    <div class="buttons">
        <button class="next_button" style="background-color: #545454;">Siguiente</button>
    </div>
</div>