{% load static %}
<div class="main">
    <div class="text">
        <h2>Puesto</h2>
        <p></p>
    </div>
    <div class="radio-buttons">
        <p>Tipo de colaborador</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Administrativo</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Obra</label>
          </div>
    </div>
    <div class="radio-buttons2">
        <br>
        <p>Status</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3" value="option1">
            <label class="form-check-label" for="inlineRadio3">Activo</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio4" value="option2">
            <label class="form-check-label" for="inlineRadio4">Inactivo</label>
          </div>
    </div>
    <div class="input-text">
        <div class="input-div">
            <input type="text" required>
            <span>Empresa</span>
        </div>
        <div class="input-div"> 
            <input type="text" required>
            <span>Puesto</span>
        </div>
    </div>
    <div class="input-div">
        <input type="date" class="form-control">
        <span>F. de Inicio</span>
  </div>
    <div class="input-text">
        <div class="input-div">
            <select>
                <option>Departamentos</option>
                <option>BCA</option>
                <option>B-TECH</option>
                <option>BA</option>
                <option>B-COM</option>
                <option>B-SC</option>
                <option>MBA</option>
                <option>MCA</option>
                <option>M-COM</option>
                <option>M-TECH</option>
            </select>
        </div>
    </div>
    <div class="buttons button_space">
        <button class="back_button">Regresar</button>
        <button class="next_button">Siguiente</button>
    </div>
</div>