{% load static %}
<div class="main">
    <div class="text">
        <h2>Prestaciones</h2>
    </div>
    <div class="radio-buttons">
        <p>IMSS Status</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option1">
            <label class="form-check-label" for="inlineRadio5">Activo</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option2">
            <label class="form-check-label" for="inlineRadio6">Inactivo</label>
          </div>
    </div>
    <div class="input-text">
        <div class="input-div">
            <input type="date" class="form-control">
            <span>F. de Alta al IMSS</span>
      </div>
        <div class="input-div">
            <input type="text" required >
            <span>IMSS</span>
        </div>
        <div class="input-div"> 
            <input type="text" required >
            <span>Número de Alta IMSS</span>
        </div>
    </div>
    <div class="input-text">
        <div class="input-div">
            <input type="text" required>
            <span>Salario IMSS</span>
        </div>
        <div class="input-div">
            <input type="text" required>
            <span>Salario Bruto</span>
        </div>
    </div>
    <div class="input-text">
        <div class="input-div">
            <input type="text" required>
            <span>Nómina</span>
        </div>
    </div>
    <div class="buttons button_space">
        <button class="back_button">Regresar</button>
        <button class="next_button">Siguiente</button>
    </div>
</div>